*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  user-select: none;
}

body{
  background-color: #0B2434;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  --dark-purple: #2B283A;
}

/** COMPONENTS */

main{
  width: 640px;
  height: 640px;
  background-color: #F5F5F5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.instruction h1{
  font-family: Karla;
  font-size: 3.2rem;
  color: var(--dark-purple);
}

.instruction p{
  font-family: Inter;
  font-size: 1.6rem;
  color: #4A4E74;
  width: 73%;
  margin: 0 auto;
}

button{
  cursor: pointer;
  font-family: Karla;
  font-size: 2rem;
  background-color: #5035FF;
  color: #fff;
  min-width: 186px;
  height: 72px;
  padding: 0 2rem;
  border-radius: 8px;
}